@media screen and (max-width: 1000px) {
  #hero {
    padding-top: 80px;
  }

  .navbar {
    background-color: #007245;
  }
}
@media screen and (max-width: 992px) {
  #card-layanan {
    height: 360px;
  }
}
@media screen and (max-width: 767px) {
  #card-layanan {
    height: 313px;
  }
}
@media screen and (max-width: 922px) {
  .input-cari .button-primary {
    width: 120px;
    font-size: 16px;
  }

  .input-cari .button-primary {
    font-size: 24px;
  }

  #rekomendasi {
    margin-top: 100px;
  }

  .button-fitur {
    width: 100%;
  }

  .contact h3 {
    font-size: 30px;
    width: 100%;
  }

  .card-contact {
    padding: 52px 48px;
    margin-top: 42px;
  }

  .card-contact h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 576px) {
  .hero-tagline h1 {
    line-height: 52px;
  }

  .img-hero {
    width: 75%;
    height: auto;
  }

  h2 {
    font-size: 34px;
  }

  .sub-title {
    font-size: 16px;
  }

  #card-layanan {
    margin: 15px 0;
  }

  .full-screen {
    width: 100%;
  }

  .going {
    font-size: 25px;
  }

  .exit {
    width: 85%;
  }

  .exit img {
    width: 40px;
  }

  .card-contact h2 {
    font-size: 22px;
    line-height: 42px;
    margin-bottom: 21px;
  }

  #search h2 {
    font-size: 42px;
    line-height: 52px;
  }

  #search p {
    font-size: 18px;
    line-height: 24px;
  }

  .input-cari .button-secondary {
    width: 50%;
    height: 60px;
  }

  .input-cari .button-primary {
    height: 60px;
    width: 30%;
    font-size: 20px;
    border-radius: 0 0 10px 0;
  }

  .input-cari .form-control {
    height: 60px !important;
  }
}

@media screen and (max-width: 350px) {
}
